<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="form-floating mb-3">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="txtText"
        placeholder=""
        name="txtText"
        [(ngModel)]="healthdata.text"
        formControlName="txtText"
        list="symptomList"
        (change)="onTextSelection($event)"
      />
      <datalist id="symptomList">
        <option value="Associated symptoms"></option>
      </datalist>
      <label for="txtText">Text</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="txtDisplay"
        placeholder=""
        name="txtDisplay"
        [(ngModel)]="healthdata.display"
        formControlName="txtDisplay"
      />
      <label for="txtDisplay">Display</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="txtDisplayOR"
        placeholder=""
        name="txtDisplayOR"
        [(ngModel)]="healthdata.display_or"
        formControlName="txtDisplayOR"
      />
      <label for="txtDisplayOR">Display OR</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="txtDisplayHI"
        placeholder=""
        name="txtDisplayHI"
        [(ngModel)]="healthdata.display_hi"
        formControlName="txtDisplayHI"
      />
      <label for="txtDisplayHI">Display HI</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="txtLanguage"
        placeholder=""
        name="txtLanguage"
        [(ngModel)]="healthdata.language"
        formControlName="txtLanguage"
      />
      <label for="txtLanguage">Language</label>
    </div>
    <div class="form-floating mb-3">
      <select
        name="txtInputType"
        id="txtInputType"
        class="form-select"
        [(ngModel)]="healthdata.input_type"
        formControlName="txtInputType"
      >
        <option value="number" selected="selected">number</option>
        <option value="text">text</option>
        <option value="date">date</option>
        <option value="duration">duration</option>
        <option value="camera">camera</option>
        <option value="area">area</option>
      </select>
      <label for="txtInputType">Input Type</label>
    </div>
    <div class="form-floating mb-3">
      <select
        name="txtGender"
        id="txtGender"
        class="form-select"
        [(ngModel)]="healthdata.gender"
        formControlName="txtGender"
      >
        <option value="male" selected="selected">male</option>
        <option value="female">female</option>
        <option value="other">other</option>
      </select>
      <label for="txtgender">Gender</label>
    </div>
    <div class="form-floating mb-3">
      <select
        name="txtAgeMin"
        id="txtAgeMin"
        class="form-select"
        formControlName="txtAgeMin"
        [(ngModel)]="healthdata.age_min"
        #txtAgeMin
      >
        <option *ngFor="let age of ages" [ngValue]="age">{{ age }}</option>
      </select>
      <label for="txtAgeMin">Age Min</label>
    </div>
    <div class="form-floating mb-3">
      <select
        name="txtAgeMax"
        id="txtAgeMax"
        class="form-select"
        [(ngModel)]="healthdata.age_max"
        #txtAgeMax
        formControlName="txtAgeMax"
      >
        <option *ngFor="let age of ages" [ngValue]="age">{{ age }}</option>
      </select>
      <label for="txtAgeMax">Age Max</label>
      <p class="text-danger" *ngIf="myForm.hasError('invalidDateRange')">
        Max age must be greater than Min age
      </p>
    </div>
    <div class="form-floating mb-3" *ngIf="positiveCondition">
      <input
        type="text"
        class="form-control"
        id="txtPosCon"
        placeholder=""
        name="txtPosCon"
        [(ngModel)]="healthdata.pos_condition"
        formControlName="txtPosCon"
      />
      <label for="txtPosCon">Positive Condition</label>
    </div>
    <div class="form-floating mb-3" *ngIf="negativeCondition">
      <input
        type="text"
        class="form-control"
        id="txtNegCon"
        placeholder=""
        name="txtNegCon"
        [(ngModel)]="healthdata.neg_condition"
        formControlName="txtNegCon"
      />
      <label for="txtNegCon">Negative Condition</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="txtPPE"
        placeholder=""
        name="txtPPE"
        [(ngModel)]="healthdata.perform_physical_exam"
        formControlName="txtPPE"
      />
      <label for="txtPPE">Perform Physical Exam</label>
    </div>
    <div class="form-floating mb-3">
      <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">
        Save
      </button>
    </div>
  </div>
</form>
