<div class="form-floating mb-3">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="txtText"
      placeholder=""
      name="txtText"
      [(ngModel)]="healthdata.text"
    />
    <label for="txtText">Text</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="txtPPE"
      placeholder=""
      name="txtPPE"
      [(ngModel)]="healthdata.perform_physical_exam"
    />
    <label for="txtPPE">Perform Physical Exam</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="txtDisplay"
      placeholder=""
      name="txtDisplay"
      [(ngModel)]="healthdata.display"
    />
    <label for="txtDisplay">Display</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="txtDisplayOR"
      placeholder=""
      name="txtDisplayOR"
      [(ngModel)]="healthdata.display_or"
    />
    <label for="txtDisplayOR">Display OR</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="txtDisplayHI"
      placeholder=""
      name="txtDisplayHI"
      [(ngModel)]="healthdata.display_hi"
    />
    <label for="txtDisplayHI">Display HI</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="txtLanguage"
      placeholder=""
      name="txtLanguage"
      [(ngModel)]="healthdata.language"
    />
    <label for="txtLanguage">Language</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="txtInputType"
      placeholder=""
      name="txtInputType"
      [(ngModel)]="healthdata.input_type"
    />
    <label for="txtInputType">Input Type</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="txtGender"
      placeholder=""
      name="txtGender"
      [(ngModel)]="healthdata.gender"
    />
    <label for="txtgender">Gender</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="txtAgeMin"
      placeholder=""
      name="txtAgeMin"
      [(ngModel)]="healthdata.age_min"
    />
    <label for="txtAgeMin">Age Min</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="txtAgeMax"
      placeholder=""
      name="txtAgeMax"
      [(ngModel)]="healthdata.age_max"
    />
    <label for="txtAgeMax">Age Max</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="txtPosCon"
      placeholder=""
      name="txtPosCon"
      [(ngModel)]="healthdata.pos_condition"
    />
    <label for="txtPosCon">Positive Condition</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="txtNegCon"
      placeholder=""
      name="txtNegCon"
      [(ngModel)]="healthdata.neg_condition"
    />
    <label for="txtNegCon">Negative Condition</label>
  </div>
  <div class="form-floating mb-3">
    <button type="submit" class="btn btn-primary" (click)="editData()">
      Save
    </button>
  </div>
</div>
