<div class="container">
  <div class="row mt-4">
    <div class="input-group mb-3 col">
      <input
        type="file"
        class="form-control"
        id="inputGroupFile02"
        (change)="handleFileInput($event)"
      />
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>

    <div class="col">
      <button
        type="button"
        id="btnAdd"
        class="btn btn-primary me-2"
        (click)="addShow()"
      >
        Add
      </button>
      <button
        type="button"
        id="btnDelete"
        class="btn btn-primary me-2"
        (click)="deleteNode()"
      >
        Delete
      </button>
      <button
        type="button"
        id="btnJson"
        class="btn btn-primary me"
        (click)="getJsonData()"
      >
        GetJson
      </button>
    </div>
  </div>

  <div id="jsmind_container"></div>
</div>
