<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="form-floating mb-3">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="txtText"
        placeholder=""
        name="txtText"
        formControlName="txtText"
        [(ngModel)]="addData.text"
      />
      <label for="txtText">Text</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="txtDisplay"
        placeholder=""
        name="txtDisplay"
        formControlName="txtDisplay"
        [(ngModel)]="addData.display"
      />
      <label for="txtDisplay">Display</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="txtDisplayOR"
        placeholder=""
        name="txtDisplayOR"
        formControlName="txtDisplayOR"
        [(ngModel)]="addData.display_or"
      />
      <label for="txtDisplayOR">Display OR</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="txtDisplayHI"
        placeholder=""
        name="txtDisplayHI"
        formControlName="txtDisplayHI"
        [(ngModel)]="addData.display_hi"
      />
      <label for="txtDisplayHI">Display HI</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="txtLanguage"
        placeholder=""
        name="txtLanguage"
        formControlName="txtLanguage"
        [(ngModel)]="addData.language"
      />
      <label for="txtLanguage">Language</label>
    </div>
    <div class="form-floating mb-3">
      <select
        name="txtInputType"
        id="txtInputType"
        class="form-control"
        formControlName="txtInputType"
        [(ngModel)]="addData.input_type"
      >
        <option value="number" selected="selected">number</option>
        <option value="text">text</option>
        <option value="date">date</option>
        <option value="duration">duration</option>
        <option value="camera">camera</option>
        <option value="area">area</option>
      </select>
      <label for="txtInputType">Input Type</label>
    </div>
    <div class="form-floating mb-3">
      <select
        name="txtGender"
        id="txtGender"
        class="form-control"
        formControlName="txtGender"
        [(ngModel)]="addData.gender"
      >
        <option value="male" selected="selected">male</option>
        <option value="female">female</option>
        <option value="other">other</option>
      </select>
      <label for="txtgender">Gender</label>
    </div>
    <div class="form-floating mb-3">
      <select
        name="txtAgeMin"
        id="txtAgeMin"
        class="form-control"
        formControlName="txtAgeMin"
        [(ngModel)]="addData.age_min"
        #txtAgeMin
      >
        <!--(change)="onSelectedMinAge(txtAgeMin.value)"-->
        <option *ngFor="let age of ages">{{ age }}</option>
      </select>
      <label for="txtAgeMin">Age Min</label>
      <p class="text-danger" *ngIf="ageMinHasError">
        Min age must be less than Max age
      </p>
    </div>
    <div class="form-floating mb-3">
      <select
        class="form-control"
        formControlName="txtAgeMax"
        [(ngModel)]="addData.age_max"
        #txtAgeMax
      >
        <!--(change)="onSelected(txtAgeMax.value)"-->
        <option *ngFor="let age of ages">{{ age }}</option>
      </select>
      <label for="txtAgeMax">Age Max</label>
      <p class="text-danger" *ngIf="myForm.hasError('invalidDateRange')">
        Max age must be greater than Min age
      </p>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="txtPosCon"
        placeholder=""
        name="txtPosCon"
        formControlName="txtPosCon"
        [(ngModel)]="addData.pos_condition"
      />
      <label for="txtPosCon">Positive Condition</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="txtNegCon"
        placeholder=""
        name="txtNegCon"
        formControlName="txtNegCon"
        [(ngModel)]="addData.neg_condition"
      />
      <label for="txtNegCon">Negative Condition</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="txtPPE"
        placeholder=""
        name="txtPPE"
        formControlName="txtPPE"
        [(ngModel)]="addData.perform_physical_exam"
      />
      <label for="txtPPE">Perform Physical Exam</label>
    </div>
    <div class="form-floating mb-3">
      <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">
        Save
      </button>
    </div>
  </div>
</form>
